openapi: 3.0.3
info:
  title: Baby Book API
  version: 1.1.0
  description: |
    API pública do Baby Book, alinhada ao Modelo de Dados e aos fluxos de UI/UX do MVP.
    Este contrato descreve recursos, validações, autenticação (sessão HttpOnly + CSRF),
    quotas, estados de negócio e limites operacionais. Mudanças compatíveis vêm primeiro;
    alterações breaking exigem nova versão de caminho (/v2) e deprecação ≥ 90 dias.
servers:
  - url: https://app.babybook.com/api/v1
    description: Produção
tags:
  - name: Auth
  - name: Me
  - name: Children
  - name: People
  - name: Guardians
  - name: MomentTemplates
  - name: Moments
  - name: Markers
  - name: Series
  - name: Chapters
  - name: Uploads
  - name: Assets
  - name: Shares
  - name: Guestbook
  - name: Capsule
  - name: Health
  - name: Vault
  - name: PrintJobs
  - name: Export
  - name: Ops
  - name: Status
security:
  - SessionCookie: []
paths:
  /auth/csrf:
    get:
      tags: [Auth]
      summary: Emite token CSRF pareado com a sessão atual
      operationId: getCsrf
      security:
        - SessionCookie: []
      responses:
        "200":
          description: OK
          headers:
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                type: object
                properties:
                  csrf_token:
                    type: string
  /auth/login:
    post:
      tags: [Auth]
      summary: Inicia sessão do usuário
      operationId: login
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, csrf_token]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                csrf_token:
                  type: string
      responses:
        "204":
          description: No Content (SPA). Cookie de sessão definido no Set-Cookie.
          headers:
            Set-Cookie:
              description: __Host-session cookie (Secure; HttpOnly; SameSite=Lax)
              schema:
                type: string
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
        "302":
          description: Redireciona (form login)
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoga a sessão atual
      operationId: logout
      security:
        - SessionCookie: []
        - CsrfToken: []
      responses:
        "204":
          description: No Content
          headers:
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
  /me:
    get:
      tags: [Me]
      summary: Dados mínimos do usuário autenticado
      operationId: getMe
      responses:
        "200":
          description: OK
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
            X-Trace-Id: { $ref: "#/components/headers/X-Trace-Id" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
    patch:
      tags: [Me]
      summary: Atualiza preferências básicas
      operationId: patchMe
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/If-Match"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
                locale: { type: string, example: pt-BR }
      responses:
        "200":
          description: OK (novo ETag)
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
            X-Trace-Id: { $ref: "#/components/headers/X-Trace-Id" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "412": { $ref: "#/components/responses/PreconditionFailed" }
  /me/usage:
    get:
      tags: [Me]
      summary: Uso atual e quotas efetivas
      operationId: getUsage
      responses:
        "200":
          description: OK
          headers:
            X-Trace-Id: { $ref: "#/components/headers/X-Trace-Id" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Usage"
  /children:
    get:
      tags: [Children]
      summary: Lista crianças da conta
      operationId: listChildren
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
        - name: q
          in: query
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedChildren"
    post:
      tags: [Children]
      summary: Cria criança
      operationId: createChild
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChildCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
  /children/{id}:
    get:
      tags: [Children]
      summary: Obtém dados de uma criança
      operationId: getChild
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Child"
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Children]
      summary: Atualiza criança
      operationId: patchChild
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/If-Match"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChildUpdate"
      responses:
        "200": { description: OK }
        "412": { $ref: "#/components/responses/PreconditionFailed" }
    delete:
      tags: [Children]
      summary: Remove logicamente uma criança
      operationId: deleteChild
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204": { description: No Content }
  /people:
    get:
      tags: [People]
      summary: Lista pessoas associadas à conta
      operationId: listPeople
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
        - name: q
          in: query
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPeople"
    post:
      tags: [People]
      summary: Cria pessoa
      operationId: createPerson
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PersonCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Person"
  /people/{id}:
    patch:
      tags: [People]
      summary: Atualiza pessoa
      operationId: patchPerson
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PersonUpdate"
      responses:
        "200": { description: OK }
    delete:
      tags: [People]
      summary: Remove logicamente uma pessoa
      operationId: deletePerson
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204": { description: No Content }
  /guardians/invite:
    post:
      tags: [Guardians]
      summary: Cria convite de guardião/viewer por e‑mail
      operationId: inviteGuardian
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuardianInvite"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  invite_id: { type: string, format: uuid }
  /guardians/{invite_id}/accept:
    post:
      tags: [Guardians]
      summary: Aceita convite de guardião/viewer
      operationId: acceptGuardianInvite
      parameters:
        - name: invite_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "201": { description: Vinculado }
        "404": { $ref: "#/components/responses/NotFound" }
  /guardians/{account_user_id}:
    delete:
      tags: [Guardians]
      summary: Remove acesso de guardião/viewer
      operationId: deleteGuardian
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - name: account_user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: No Content }
  /moment-templates:
    get:
      tags: [MomentTemplates]
      summary: Lista templates de momento
      operationId: listMomentTemplates
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MomentTemplate"
  /moments/drafts:
    get:
      tags: [Moments]
      summary: Lista rascunhos sugeridos
      operationId: listMomentDrafts
      parameters:
        - name: child_id
          in: query
          schema: { type: string, format: uuid }
        - name: template_key
          in: query
          schema: { type: string }
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMoments"
  /moments:
    get:
      tags: [Moments]
      summary: Lista momentos com filtros
      operationId: listMoments
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [published, draft, ready, processing]
        - name: people
          in: query
          schema: { type: string, description: "uuids separados por vírgula" }
        - name: child_id
          in: query
          schema: { type: string, format: uuid }
        - name: tag
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: chapter_id
          in: query
          schema: { type: string, format: uuid }
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/order"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMoments"
    post:
      tags: [Moments]
      summary: Cria momento (template ou avulso)
      operationId: createMoment
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MomentCreate"
      responses:
        "201":
          description: Created
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MomentCreated"
  /moments/avulso:
    post:
      tags: [Moments]
      summary: Cria momento mínimo sem template
      operationId: createMomentMinimal
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MomentCreate"
      responses:
        "201": { description: Created }
  /moments/{id}:
    get:
      tags: [Moments]
      summary: Recupera um momento
      operationId: getMoment
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: OK
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moment"
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Moments]
      summary: Atualiza campos editáveis de um momento
      operationId: patchMoment
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/If-Match"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MomentUpdate"
      responses:
        "200": { description: OK }
        "412": { $ref: "#/components/responses/PreconditionFailed" }
    delete:
      tags: [Moments]
      summary: Remove logicamente um momento
      operationId: deleteMoment
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204": { description: No Content }
  /moments/{id}/publish:
    post:
      tags: [Moments]
      summary: Publica um momento (se ready)
      operationId: publishMoment
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [published]
  /moments/{id}/unpublish:
    post:
      tags: [Moments]
      summary: Retorna momento a rascunho
      operationId: unpublishMoment
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [draft]
  /marker-types:
    get:
      tags: [Markers]
      summary: Lista tipos de marcadores (versionados)
      operationId: listMarkerTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MarkerType"
  /markers:
    post:
      tags: [Markers]
      summary: Cria marcador para um momento
      operationId: createMarker
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarkerCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
  /markers/{id}:
    delete:
      tags: [Markers]
      summary: Remove marcador
      operationId: deleteMarker
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204": { description: No Content }
  /series:
    get:
      tags: [Series]
      summary: Lista séries
      operationId: listSeries
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedSeries"
    post:
      tags: [Series]
      summary: Cria série
      operationId: createSeries
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SeriesCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Series"
  /series/{id}/occurrences:
    get:
      tags: [Series]
      summary: Lista ocorrências agendadas de uma série
      operationId: listOccurrences
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedOccurrences"
  /chapters:
    get:
      tags: [Chapters]
      summary: Lista capítulos
      operationId: listChapters
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedChapters"
    post:
      tags: [Chapters]
      summary: Cria capítulo
      operationId: createChapter
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChapterCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
  /chapters/{id}:
    get:
      tags: [Chapters]
      summary: Obtém capítulo
      operationId: getChapter
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          {
            description: OK,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/Chapter" } },
              },
          }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Chapters]
      summary: Atualiza capítulo
      operationId: patchChapter
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/If-Match"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChapterUpdate" }
      responses:
        "200": { description: OK }
        "412": { $ref: "#/components/responses/PreconditionFailed" }
    delete:
      tags: [Chapters]
      summary: Apaga capítulo
      operationId: deleteChapter
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204": { description: No Content }
  /chapters/{id}/moments:
    post:
      tags: [Chapters]
      summary: Inclui/Remove momentos em capítulo (curadoria manual)
      operationId: patchChapterMoments
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChapterMomentsPatch" }
      responses:
        "200": { description: OK }
  /chapters/{id}/order:
    put:
      tags: [Chapters]
      summary: Define ordenação customizada de momentos
      operationId: putChapterOrder
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChapterOrder" }
      responses:
        "204": { description: No Content }
  /uploads/init:
    post:
      tags: [Uploads]
      summary: Cria sessão de upload multipart direto ao B2
      operationId: uploadsInit
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UploadInitRequest" }
      responses:
        "200":
          {
            description: OK,
            content:
              {
                application/json:
                  {
                    schema: { $ref: "#/components/schemas/UploadInitResponse" },
                  },
              },
          }
        "400": { $ref: "#/components/responses/Error" }
        "413": { $ref: "#/components/responses/Error" }
        "415": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /uploads/complete:
    post:
      tags: [Uploads]
      summary: Consolida partes e agenda transcode/derivados
      operationId: uploadsComplete
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UploadCompleteRequest" }
      responses:
        "202":
          {
            description: Accepted,
            content:
              {
                application/json:
                  {
                    schema:
                      { $ref: "#/components/schemas/UploadCompleteResponse" },
                  },
              },
          }
  /assets/{id}:
    patch:
      tags: [Assets]
      summary: (Serviço) Atualiza status/variantes de asset
      operationId: patchAssetStatus
      security:
        - ServiceToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AssetStatusUpdate" }
      responses:
        "200": { description: OK }
  /moments/{id}/share:
    post:
      tags: [Shares]
      summary: Cria ou atualiza link público de momento (1 ativo)
      operationId: shareMoment
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ShareCreate" }
      responses:
        "201":
          {
            description: Created,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/ShareCreated" } },
              },
          }
  /shares/{id}:
    delete:
      tags: [Shares]
      summary: Revoga link de compartilhamento
      operationId: deleteShare
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204": { description: No Content }
  /guestbook:
    get:
      tags: [Guestbook]
      summary: Lista entradas de mural
      operationId: listGuestbook
      parameters:
        - name: child_id
          in: query
          schema: { type: string, format: uuid }
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedGuestbook"
    post:
      tags: [Guestbook]
      summary: Cria entrada no mural
      operationId: createGuestbook
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GuestbookCreate" }
      responses:
        "201":
          {
            description: Created,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/Guestbook" } },
              },
          }
  /guestbook/pending:
    get:
      tags: [Guestbook]
      summary: Lista entradas pendentes de moderação (owner)
      operationId: listGuestbookPending
      responses:
        "200":
          {
            description: OK,
            content:
              {
                application/json:
                  {
                    schema: { $ref: "#/components/schemas/PaginatedGuestbook" },
                  },
              },
          }
  /guestbook/{id}/approve:
    post:
      tags: [Guestbook]
      summary: Aprova entrada pendente
      operationId: approveGuestbook
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200": { description: OK }
  /guestbook/{id}/reject:
    post:
      tags: [Guestbook]
      summary: Rejeita entrada pendente
      operationId: rejectGuestbook
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200": { description: OK }
  /capsule:
    get:
      tags: [Capsule]
      summary: Lista itens da cápsula do tempo por criança
      operationId: listCapsule
      parameters:
        - name: child_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        "200":
          {
            description: OK,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/PaginatedCapsule" } },
              },
          }
    post:
      tags: [Capsule]
      summary: Cria/atualiza item não selado
      operationId: upsertCapsuleItem
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CapsuleUpsert" }
      responses:
        "201":
          {
            description: Created,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/CapsuleItem" } },
              },
          }
  /capsule/{id}/seal:
    post:
      tags: [Capsule]
      summary: Sela item (open_at ≥ 10 anos no futuro)
      operationId: sealCapsuleItem
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200": { description: OK }
        "422": { $ref: "#/components/responses/Error" }
  /capsule/{id}/unseal:
    post:
      tags: [Capsule]
      summary: Cancela selo (retorna a rascunho)
      operationId: unsealCapsuleItem
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200": { description: OK }
  /health/measurements:
    get:
      tags: [Health]
      summary: Lista medidas de saúde
      operationId: listMeasurements
      parameters:
        - name: child_id
          in: query
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        "200":
          {
            description: OK,
            content:
              {
                application/json:
                  {
                    schema:
                      { $ref: "#/components/schemas/PaginatedMeasurements" },
                  },
              },
          }
    post:
      tags: [Health]
      summary: Cria medida
      operationId: createMeasurement
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/HealthMeasurementCreate" }
      responses:
        "201":
          {
            description: Created,
            content:
              {
                application/json:
                  {
                    schema: { $ref: "#/components/schemas/HealthMeasurement" },
                  },
              },
          }
  /health/visits:
    get:
      tags: [Health]
      summary: Lista consultas
      operationId: listVisits
      parameters:
        - name: child_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        "200":
          {
            description: OK,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/PaginatedVisits" } },
              },
          }
    post:
      tags: [Health]
      summary: Cria consulta
      operationId: createVisit
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/HealthVisitCreate" }
      responses:
        "201":
          {
            description: Created,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/HealthVisit" } },
              },
          }
  /vault/documents:
    get:
      tags: [Vault]
      summary: Lista documentos do cofre
      operationId: listVaultDocuments
      parameters:
        - name: child_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        "200":
          {
            description: OK,
            content:
              {
                application/json:
                  {
                    schema: { $ref: "#/components/schemas/PaginatedVaultDocs" },
                  },
              },
          }
    post:
      tags: [Vault]
      summary: Cria documento no cofre
      operationId: createVaultDocument
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VaultDocumentCreate" }
      responses:
        "201":
          {
            description: Created,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/VaultDocument" } },
              },
          }
  /print-jobs:
    post:
      tags: [PrintJobs]
      summary: Cria job de Print-on-Demand
      operationId: createPrintJob
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PrintJobCreate" }
      responses:
        "201":
          {
            description: Created,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/PrintJob" } },
              },
          }
  /print-jobs/{id}/items:
    post:
      tags: [PrintJobs]
      summary: Define curadoria (momentos e ordem)
      operationId: setPrintJobItems
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PrintJobItemsSet" }
      responses:
        "200": { description: OK }
  /print-jobs/{id}/approve:
    post:
      tags: [PrintJobs]
      summary: Aprova job para produção
      operationId: approvePrintJob
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200": { description: OK }
  /print-jobs/{id}:
    get:
      tags: [PrintJobs]
      summary: Consulta status e preview de job
      operationId: getPrintJob
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          {
            description: OK,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/PrintJob" } },
              },
          }
  /export:
    post:
      tags: [Export]
      summary: Cria exportação (ZIP + manifest)
      operationId: createExport
      security:
        - SessionCookie: []
        - CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ExportCreate" }
      responses:
        "202":
          {
            description: Accepted,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/ExportQueued" } },
              },
          }
  /export/{id}:
    get:
      tags: [Export]
      summary: Consulta status/URL de exportação
      operationId: getExport
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          {
            description: OK,
            content:
              {
                application/json:
                  { schema: { $ref: "#/components/schemas/ExportStatus" } },
              },
          }
    delete:
      tags: [Export]
      summary: Cancela export em processamento
      operationId: deleteExport
      security:
        - SessionCookie: []
        - CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "202": { description: Accepted }
  /ops/purge:
    post:
      tags: [Ops]
      summary: (Serviço) Soft purge na CDN
      operationId: opsPurge
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PurgeRequest" }
      responses:
        "202": { description: Accepted }
  /metrics:
    get:
      tags: [Ops]
      summary: (Serviço) Exposição de métricas Prometheus
      operationId: getMetrics
      security:
        - ServiceToken: []
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema: { type: string }
  /health:
    get:
      tags: [Status]
      summary: Sonda de saúde
      operationId: health
      security: []
      responses:
        "200":
          {
            description: OK,
            content:
              {
                application/json:
                  {
                    schema:
                      { type: object, properties: { ok: { type: boolean } } },
                  },
              },
          }
  /ready:
    get:
      tags: [Status]
      summary: Pronto para tráfego (dependências)
      operationId: ready
      security: []
      responses:
        "200":
          {
            description: OK,
            content:
              {
                application/json:
                  {
                    schema:
                      { type: object, properties: { ok: { type: boolean } } },
                  },
              },
          }
components:
  securitySchemes:
    SessionCookie:
      type: apiKey
      in: cookie
      name: __Host-session
    CsrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token
    ServiceToken:
      type: http
      scheme: bearer
      bearerFormat: opaque
  headers:
    X-Trace-Id:
      description: Identificador de trace
      schema: { type: string }
    ETag:
      description: Tag de versão para concorrência otimista
      schema: { type: string }
    X-RateLimit-Limit:
      description: Limite de requisições na janela atual
      schema: { type: integer }
    X-RateLimit-Remaining:
      description: Requisições restantes
      schema: { type: integer }
    X-RateLimit-Reset:
      description: Epoch de reset do bucket
      schema: { type: integer, format: int64 }
  parameters:
    id:
      name: id
      in: path
      required: true
      schema: { type: string }
    limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    cursor:
      name: cursor
      in: query
      schema: { type: string, nullable: true }
    sort:
      name: sort
      in: query
      schema: { type: string, enum: [created_at, occurred_at] }
    order:
      name: order
      in: query
      schema: { type: string, enum: [asc, desc], default: desc }
    If-Match:
      name: If-Match
      in: header
      schema: { type: string }
  responses:
    Error:
      description: Erro de aplicação
      headers:
        X-Trace-Id: { $ref: "#/components/headers/X-Trace-Id" }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Recurso não encontrado
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    PreconditionFailed:
      description: ETag não corresponde (If-Match)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    RateLimited:
      description: Rate limit excedido
      headers:
        X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
        X-RateLimit-Remaining:
          { $ref: "#/components/headers/X-RateLimit-Remaining" }
        X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          required: [code, message, trace_id]
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object, additionalProperties: true }
            trace_id: { type: string }
    Me:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        name: { type: string }
        locale: { type: string }
    Usage:
      type: object
      properties:
        bytes_used: { type: integer, format: int64 }
        bytes_quota: { type: integer, format: int64 }
        moments_used: { type: integer }
        moments_quota: { type: integer }
    AssetVariantInput:
      type: object
      required: [preset, key, size_bytes, kind]
      properties:
        preset: { type: string, maxLength: 80 }
        key: { type: string, maxLength: 255 }
        size_bytes: { type: integer, format: int64 }
        width_px: { type: integer, minimum: 1, nullable: true }
        height_px: { type: integer, minimum: 1, nullable: true }
        kind: { type: string, enum: [photo, video, audio] }
    AssetStatusUpdate:
      type: object
      properties:
        status: { type: string, enum: [queued, processing, ready, failed] }
        duration_ms: { type: integer, format: int64, minimum: 0 }
        error_code: { type: string, maxLength: 120 }
        viewer_accessible: { type: boolean }
        key_original: { type: string, maxLength: 255 }
        variants:
          type: array
          items: { $ref: "#/components/schemas/AssetVariantInput" }
    Person:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, minLength: 1, maxLength: 120 }
        avatar_url: { type: string, format: uri, nullable: true }
    PersonCreate:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
        avatar_url: { type: string, format: uri, nullable: true }
    PersonUpdate:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
        avatar_url: { type: string, format: uri, nullable: true }
    PaginatedPeople:
      type: object
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/Person" }
        next: { type: string, nullable: true }
    Child:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, minLength: 1, maxLength: 120 }
        birthday: { type: string, format: date, nullable: true }
        avatar_url: { type: string, format: uri, nullable: true }
    ChildCreate:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
        birthday: { type: string, format: date, nullable: true }
        avatar_url: { type: string, format: uri, nullable: true }
    ChildUpdate:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
        birthday: { type: string, format: date, nullable: true }
        avatar_url: { type: string, format: uri, nullable: true }
    PaginatedChildren:
      type: object
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/Child" }
        next: { type: string, nullable: true }
    GuardianInvite:
      type: object
      required: [email, role]
      properties:
        email: { type: string, format: email }
        role: { type: string, enum: [guardian, viewer] }
        expires_at: { type: string, format: date-time, nullable: true }
    MomentTemplate:
      type:
