@keyframes pulse-background {
  0%, 100% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.4;
  }
}

.pulsating-background {
  animation: pulse-background 5s infinite;
}
